<h1>Tour#new</h1>
<p>Find me in app/views/tour/new.html.erb</p>
<div class="container">
  <form action="/tour" method="post">
    <input type="text" id="name" name="name">
    <input type="text" id="description" name="description">
    <select id="category" name="category">
      <option value="food_and_drink">Food and Drink</option>
      <option value="neighborhood_tours">Neighborhood Tours</option>
      <option value="water_sports">Water Sports</option>
      <option value="landmark">Landmark</option>
    </select>
  </form>
</div>
