<div id="top_banner" class="col-md-12">
  <% (notice.kind_of?(Array) ? notice : [notice]).each do |x| %>
     <p> <%= x %> </p>
  <% end %>
  <div class="collapse" id="exCollapsingNavbar">
    <div id="collap_menu" class="bg-inverse p-a-1">
      <h6>Login</h6>
      <span class="text-muted">

        <form class="form-inline" action="/user/user_login" method="post">

          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input type="email" class="form-control" id="login[email]" name="login[email]" placeholder="Enter email">
          </div>

          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="password" name="login[password]" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>

      <div id="hyperlinks">
        <span id="register"></span>
        <a class="nav-item nav-link" href="/user"><h6>Register  |</h6></a>
        <a class="nav-item nav-link" href="/provider/new"><h6>  Provider Login   |</h6> </a>
        <a class="nav-item nav-link" href="#"><h6>   About</h6></a></span>
      </div>

    </div>
  </div>

  <div class="toggle">
    <nav id="menu_bar" class="navbar navbar-light bg-faded">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
        &#9776;
      </button>
    </nav>
  </div>

</div>


<div id="find_tour">
  <button class="btn btn-warning btn-sm" id="find_tour" type="button" action="/tour" name="find_tour"><a href="/tour">Find a Tour</a></button>
</div>


<div class="container">
  <section><div id="info_1"></div></section>

  <section><div id="info_2"></div></section>

  <div id="info_3"><section></section></div>

  <div id="footer"></div>
</div>
