<div class="container">
  <div class="header">
    <nav class="navbar navbar-light bg-faded">
      <div class="nav navbar-nav">
        <a class="navbar-brand" href="#">Navbar</a>
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Provider Login</a>
        <a class="nav-item nav-link" href="#">About</a>
      </div>
  </nav>
  </div>

  <div id="top_banner">
    <div id="fb_login">
        <%= link_to 'Login to Facebook', @auth_url, :class=>"btn btn-primary" %>
      </div>
  </div>

  <div id="info_1"></div>

  <div id="info_2"></div>

  <div id="info_3"></div>

  <div id="footer"></div>
</div>
