<div id="top_banner" class="col-md-12">

  <div class="jumbotron" id="home_jumbo">
    <% (notice.kind_of?(Array) ? notice : [notice]).each do |x| %>
       <p> <%= x %> </p>
    <% end %>
    <div id="jumbo_content">
      <h1 class="display-3" id="jumbo_display">Hello, Seattle!</h1>
      <p class="lead" id="jumbo_lead">Where travelers meet locals.</p>
      <a class="btn btn-secondary-outline" href="/tour" role="button">Find a tour</a>
    </div>
  </div>

  <div class="toggle">
    <nav id="menu_bar" class="navbar navbar-light bg-faded">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
        &#9776;
      </button>
    </nav>
  </div>

  <div class="collapse" id="exCollapsingNavbar">
    <div id="collap_menu" class="bg-inverse p-a-1">
      <h6>Login</h6>
      <span class="text-muted">

        <form class="form-inline" action="/user/user_login" method="post">

          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input type="email" class="form-control" id="login[email]" name="login[email]" placeholder="Enter email">
          </div>

          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="password" name="login[password]" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>

        <div id="hyperlinks">
          <span id="register"></span>
          <a class="nav-item nav-link" href="/user"><h6>Register  |</h6></a>
          <a class="nav-item nav-link" href="/provider/new"><h6>  Provider Login   |</h6> </a>
          <a class="nav-item nav-link" href="#"><h6>   About</h6></a></span>
        </div>

    </div>
  </div>

  <div class="home_body">
    <div class="row col-md-12" id="tours_row">
      <% if @all_tours %>

      <% @all_tours.each do |x| %>
        <div class="col-xs-6 col-md-4">
            <img id="tour_image" src="<%= x.tour_pic.url (:large) %>" alt="...">
            <h3 id="tour_name"><%= x.name %></h3>
        </div>
      <% end %>

      <% end %>
    </div>
  </div>

</div>
