<div id="profile">
   <h3>Hi <%= @profile["name"] %>! Ready to explore Seattle?</h3>
   <img src='https://graph.facebook.com/<%= @profile["id"] %>/picture' alt='picture'>
   <div class="profile_info">

   </div>
</div>
