/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,400,700);

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Raleway";
  margin: 0 auto;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 100px;
}

.profile_pic {
  height: 150px;
  width: 200px;
}

.text-center {
  text-align: center;
}

#navbar_provider {
  position: relative;
  background-color: #B1D877;
  border-bottom: 2px solid #FFFFFF;
}
#navbar_links {
  list-style-type: none;
  float: right;
  margin-top: 1.5%;
}
  #navbar_links li {
    display: inline;
    font-size: 1.5em;
  }

.footer {
    position : absolute;
    bottom : 0;
    height : 150px;
    width: 100%;
    margin-top : 40px;
    background-color: #ECEDE8;
}
  .footer ul {
    font-size: 1em;
    margin: 2% 0 0 10%;
  }
  .footer li {
    list-style-type: none;
  }
