
#provider_container {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  background: url(image_path('provider_background.jpg')) no-repeat;
  background-size: 100%;
}

// ================ Side Menu ====================== //

#side_menu {
  background-color: #4D4D4D;
  max-height: 40%;
  margin: 8% 0 20% 3%;
  padding: 1%;
  border: .5px solid silver;
  border-radius: 5px;
}
  #provider_profile {
    margin: 5% 5% 5% 5%;
  }
  #provider_content {
    margin-top: 10%;
    color: #ededed;
  }
  #provider_content p {
    margin: 0;
  }
  .notifications {
    margin: 30px 0 30px 10px;
  }
  .notifications button {
    margin-top: 10px;
    float: center;
  }

// ============== Tabs =============================

#provider_tabs {
  margin: 8% 0 0 3%;
}



// PENDING TOURS TAB
#pending_row {
  margin: 0 auto;
  background-color: #F7F7F7;
}
  #each_pending_row {
    border: .5px solid silver;
    border-radius: 8px;
    padding-top: 10px;
    margin: 1.5%;
    max-width: 30%;
    display: inline-block;
  }
  #accept {
    display: inline-block;
  }
  #decline {
    display: inline-block;
  }

  #offered_tours {
    display: inline-block;
    vertical-align: top;
    background-color: white;
    width: 100%;
    vertical-align: bottom;
  }
// NEW TOUR TAB
#new_tour {
  // display: inline-block;
  margin-top: 10%;
  text-align: left;
  width: 50%;
  padding: 30px 20px 20px 20px;
}
#new_tour__form {

}

// Provider#Show
#provider_profile {
  max-width: 80%;
  margin: 0 auto;
}
  #provider_pic {
    width: 200px;
    height: 100px;
  }
  #greet {
    color: white;
  }

#review {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 10%;
}
  .each_review {
    display: inline-block;
  }
  .reviewer_pic {
    width: 150px;
    height: 120px;
    display: inline-block;
  }
  .reviewer_review {
    display: inline-block;
    margin-left: 50px;
  }
  .review_star {
    min-width: 20px;
    min-height: 20px;
  }
