// Place all the styles related to the Tour controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tour_record{
  margin-top: 60px;
}
#new_tour {
  display: inline-block;
  width: 30%;
  border: 1px silver solid;
  border-radius: 5px;
  padding: 30px 20px 20px 20px;
  background-color: #dddddd;
}
#offered_tours {
  display: inline-block;
  vertical-align: top;
  background-color: #dddddd;
  width: 68%;
}
#offered_tours table {
  min-height: 100px;
  padding: 0 10% 0 10%;
}

#past_tours {
  margin: 0 0 200px 0;
}
#card-header {
  background-color: #FFFFFF;
  text-align: center;
  opacity: 0.6;
  filter: alpha(opacity=40);
}
#modal_body {
  width: 100%;
  display: inline-block;
  background-color: orange;
}
#modal_body img{
  width: 20%;
  display: inline-block;
}
#inner_body{
  display: inline-block;
}
// #modal_body p{
//   display: inline-block;
// }
