// Place all the styles related to the Tour controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'styling_variables';


#navbar_tour {
  background-color: white;
  z-index: 1;
}
// =============== Tour Index ==================
#tour_container {
  margin-top: 10%;
}
#tour_top_bar {
  margin: 0 auto;
}
#tour_welcome {
  margin: 10px 0 0 0;
}
#tour_notice {
  margin-top: 1%;
  text-align: center;
}
#tour_cards {
  min-height: 400px;
  margin: 4% 3% 3% 0;
  box-shadow: $box_shadow;
}
#card-header {
  background-color: #FFFFFF;
  text-align: center;
}

// #modal_body {
//   width: 100%;
//   display: inline-block;
//   border-radius: 15px;
// }
// .modal-dialog {
//   // background: rgb(0, 0, 0);
//   // background: rgba(255, 255, 255, 0.1) ;
//   // opacity: 0.9;
//   // filter: alpha(opacity=80); /* For IE8 and earlier */
//   background-color: rgba(0,0,255,0.5);
// }
img {
  border-radius: 0px;
  width: 100%;
}

#modal_img {
  vertical-align: top;
  width: 20%;
  display: inline-block;
}
#inner_body{
  display: inline-block;
  width: 75%;
  margin-left: 3%;
}
  #inner_body p {
    font-size: 1em;
  }
  #inner_body button {
    margin-bottom: 5%;
  }
  #inner_body form {
    margin-bottom: 1%;
  }



// ================== Edit Tour =======================

#edit_tour_form {
  margin: 20%;
}
