<!DOCTYPE html>
<html>
<head>
  <title>EmeraldTrekker</title>
  <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5DCeCky-akqzPNWNF8lCVTnO1BTMO7r8&libraries=places" type="text/javascript"></script> -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
<body>

  <%= yield %>

</body>
</html>
